<ion-view view-title="Desserts">
    <div class="choix-boissons">
        <ion-list>
            <div class="liste-boissons">
                <div class="item item-divider">
                    Choisissez un ou plusieurs desserts:
                </div>
                <ion-checkbox ng-model="dessert.isChecked" ng-checked="dessert.isChecked" ng-repeat="dessert in dessert.desserts">
                    <div class="details-boissons">
                        {{dessert.name}}
                        <span class="item-note item-details-note" ng-if="dessert.prix!=0.8">
                            {{dessert.prix}}€
                        </span>
                    </div>
                </ion-checkbox>
            </div>
            <button class="item button button-full button-balanced valide-boissons" ng-click="dessert.submit(dessert)">
                Valider !
            </button>
        </ion-list>
    </div>
</ion-view>