
<div>
	<button class="button button-full button-positive item" ng-click="changeView()" >Nouvelle Commande</button>
	<button class="button button-full button-positive item" ng-click="$state.go('tab.account')">Favoris</button>
</div>

<!-- <form name="myForm" ng-submit="foo()" novalidate>
    <label>
     </label>
    <input name="prenom" type="text" required ng-minlength="2" ng-maxlength="20" />
    
    <label> : </label>
    <input name="nom" type="text" ng-maxlength="30" />
    
    <label> : </label>
    <input name="mail" type="email" required />
    
    <label>Âge : </label>
    <input name="age" type="number" required />
    
    <input type="submit" value="Envoyer" />
</form> -->