<ion-view view-title="Favoris" cache-view="false">  
    <ion-content>
    <div class="choix-favoris">
        <img src="img/favoris.jpg" class="imageTitle">
    </div>

    <div>
    <ion-radio name="favoris" ng-change="updateCommande()" ng-model="commande.id" ng-value="{{$index}}" ng-repeat="icommande in listeCommandes" >

        {{icommande.plats[0].type}}
        {{icommande.boissons[0].name}}
        {{icommande.desserts[0].name}}
        {{icommande.prix}}€
    </ion-radio>
    </div>

    <div class="commande-block-confirmation">
        <button class="button button-assertive commande-bouton-confirme" ng-click="commande.annuler()">
            Annuler 
        </button>
        <button class="button commande-bouton-confirme" ng-class="autorise.color" ng-click="commande.submit()">
            Valider {{commande.prix}} €
        </button>
    </div>
    <button class="button button-energized button-block commande-bouton-confirme" ui-sref="tab.commande">
        Nouveau favoris
    </button>
    <div class="card animated bounceInRight" id="messageCommande" ng-if="!autorise.autoriseToCommande">
      <div class="item item-text-wrap">
        {{autorise.message}}
      </div>
    </div>
</ion-content>
</ion-view>
