<ion-view view-title="Mon compte" cache-view="false">
  <ion-content>
<!-- 
    <h3>Général</h3>

    <h4>Adresse email : {{parametres.user.username}}</h4> -->
    <ion-list>
      <form class="form" 
            name="form"
            ng-submit="changeUserParams()"
            novalidate>
          <h3>Mon profil</h3>
          <h4 class="item-divider"> Filière : {{user.filiere}} </h4>
          <ion-radio id="CGP" ng-value="'CGP'" ng-model="user.filiere" >CGP</ion-radio>
          <ion-radio id="ETI" ng-value="'ETI'" ng-model="user.filiere" >ETI</ion-radio>
          <ion-radio id="IRC" ng-value="'IRC'" ng-model="user.filiere" >IRC</ion-radio>

          <h4 class="item-divider">Année : {{user.annee}} </h4>
          <ion-radio id="3" ng-value="3" ng-model="user.annee" name="annee">3</ion-radio>
          <ion-radio id="4" ng-value="4" ng-model="user.annee" name="annee">4</ion-radio>
          <ion-radio id="5" ng-value="5" ng-model="user.annee" name="annee">5</ion-radio>

        <button class="button button-block button-balanced" type="submit">
          <div ng-if="!changeParamsIsLoading">
                Sauvegarder
          </div>
          <ion-spinner class="spinner-energized" ng-if="changeParamsIsLoading"></ion-spinner>
        </button>


      </form>
    </ion-list>
        <button class="button button-block button-balanced" ng-click="setChangeMDP()" ng-if="!changeMDP">
            Changer de mot de passe
        </button>
          <form class="form" name="myForm" ng-submit="changePassword()" novalidate ng-model-options="{debounce: 200}" ng-if="changeMDP">
                  <h3>Changer de mot de passe</h3>
                  <label class="item item-input">
                      <span class="input-label">Ancien mot de passe</span>
                      <input type="password"
                             name="oldPassword"
                             id="old-password"
                             ng-model="passwords.oldPassword">
                  </label>
                  <label class="item item-input">
                      <span class="input-label">Nouveau mot de passe</span>
                      <input type="password"
                             class="form-control"
                             name="newPassword"
                             id="new-password"
                             ng-model="passwords.newPassword"
                             ng-minlength="6"
                             ng-maxlength="20">
                  </label>
                  <label class="item item-input">
                      <span class="input-label">Confirmer le mot de passe</span>
                      <input type="password"
                             class="form-control"
                             name="confirmPassword"
                             id="confirm-password"
                             ng-model="passwords.confirmPassword">
                  </label>
                  <button type="submit" class="button button-block button-balanced">
                    <div ng-if="!changePswIsLoading">
                          Enregistrer le mot de passe
                    </div>
                    <ion-spinner class="spinner-energized" ng-if="changePswIsLoading"></ion-spinner>
                  </button>
          </form>
        </div>
    </div>

    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div ng-show="success" class="alert alert-success">{{success}}</div>

    <button class="button button-block"  ng-click="control.signout()">
      Deconnexion
    </button>

  </ion-content>
</ion-view>
