<ion-view view-title="Plats" class="plats-choix-type">  
    <ion-list>
        <div>
          <ion-radio ng-model="plats.isSandwich" ng-value="true">Sandwich Maison</ion-radio>
          <ion-radio ng-model="plats.isSandwich" ng-value="false">Plats Cuisiné</ion-radio>
        </div>

        <ion-checkbox ng-model="sauce.isChecked" ng-checked="sauce.isChecked" ng-repeat="sauce in choix.sauces" ng-if="plats.isSandwich">
            <div class="details-sauces">
                {{sauce.name}}
                <span class="item-note item-details-note" ng-if="sauce.prix!=0.5">
                  {{sauce.prix}}€
                </span>
            </div>
          </ion-checkbox>

      <ion-checkbox ng-model="platsPrepare.isChecked" ng-checked="platsPrepare.isChecked" ng-repeat="platsPrepare in choix.platsPrepares" ng-if="!plats.isSandwich">
            <div class="details-platsPrepares">
                {{platsPrepare.name}}
                <span class="item-note item-details-note" ng-if="platsPrepare.prix!=0.5">
                  {{platsPrepare.prix}}€
                </span>
            </div>
          </ion-checkbox>

    </ion-list>
</ion-view>