/* Empty. Add your own CSS if you like */
.infoList{
	color: rgb(200, 110, 110);
}


/****************
*******LOGIN*****
****************/

.imageTitle{
	width: 100%;
}




/****************
****commande****
****************/




.choix-boissons{
	margin-top: 100px;
}


.valide-boissons{
	
}

/**********************
********COMMANDE*******
***********************/

.choix-commande{
	margin-top: 100px;
}

.commande-boissons-detils{
	position: absolute;
	right: 20px;
	font-size: 30px;
	display: inline-flex;
}


.item-details-note{
	margin-right: 10px;
	font-size: 15px;
}
.commande-nb-boissons{
	margin-left: 10px;
}

.commande-block-confirmation{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.commande-bouton-confirme{
	width: 48%;
}

/***************************
**********PLATS*************
***************************/


















/***************************
**********NEWPLATS*************
***************************/

.new-plat-supprimer{
	text-align: center;
	 col text-center
}






/***************************
**********BOISSONS*************
***************************/



.liste-boissons{
		position: relative;
		top: -10px !important;
}






/***************************
**********INSCRIPTION*************
***************************/


.errorInscription{
	color: red;
}