/* Empty. Add your own CSS if you like */
.infoList{
	color: rgb(200, 110, 110);
}




/****************
****commande****
****************/




.choix-boissons{
	margin-top: 100px;
}

/*
.vvalide-boissons{
	position: absolute;
	bottom: 0px !important;
}

/**********************
********COMMANDE*******
***********************/

.choix-commande{
	margin-top: 100px;
}

.commande-boissons-detils{
	position: absolute;
	right: 20px;
	font-size: 30px;
	display: inline-flex;
}


.item-details-note{
	margin-right: 10px;
	font-size: 15px;
}
.commande-nb-boissons{
	margin-left: 10px;
}

.commande-boisson-selected{
	
}

.commande-icon-indication{

}